<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="bo_db" providerName="System.Data.SqlClient" connectionString="Persist Security Info=True;User ID=bo;Password=bo1;Initial Catalog=BullOak;Data Source=localhost\sqlexpress2016"/>
  </connectionStrings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow>
</configuration>